GITHUB_CLIENT_ID=your_development_github_client_id
GITHUB_CLIENT_SECRET=your_development_github_client_secret
COOKIE_ENCRYPTION_KEY=your_cookie_encryption_key
STORAGE_ENCRYPTION_KEY=your_storage_encryption_key
ALLOWED_USERNAMES=your_github_username
